/* line 3, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 6, ../sass/screen.scss */
.bg {
  background-image: url("../img/bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 590px;
}
/* line 13, ../sass/screen.scss */
.bg .bg-text {
  margin-bottom: 15%;
  color: white;
  text-align: center;
}
/* line 17, ../sass/screen.scss */
.bg .bg-text .bg-h2 {
  font-size: 7.0rem;
  text-transform: uppercase;
}
/* line 21, ../sass/screen.scss */
.bg .bg-text .bg-p {
  font: 2.5rem lato;
}

/* line 28, ../sass/screen.scss */
.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

/* line 38, ../sass/screen.scss */
.site-header {
  display: inline;
  font-size: 4.0rem;
  font-family: "Kaushan Script", cursive;
  cursor: pointer;
}
/* line 43, ../sass/screen.scss */
.site-header a {
  text-decoration: none;
}
/* line 45, ../sass/screen.scss */
.site-header a:active {
  color: pink;
}
/* line 49, ../sass/screen.scss */
.site-header .pink {
  color: pink;
}

/* line 53, ../sass/screen.scss */
.nav-semi {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 56, ../sass/screen.scss */
.navigation-ul {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  float: right;
  padding-left: 0;
}
/* line 62, ../sass/screen.scss */
.navigation-ul .login-img {
  margin-right: 20px;
}
/* line 65, ../sass/screen.scss */
.navigation-ul li a {
  padding: 7px 12px;
  color: #454545;
}
/* line 68, ../sass/screen.scss */
.navigation-ul li a:hover {
  background-color: #de6d6e;
  color: white;
  border-radius: 10px;
  padding: 7px 12px;
}

/* line 77, ../sass/screen.scss */
.navigation {
  display: inline;
  overflow: hidden;
}
/* line 80, ../sass/screen.scss */
.navigation li {
  display: inline;
  margin-left: 20px;
  font: 1.6rem "Open Sans", sans-serif;
}
/* line 85, ../sass/screen.scss */
.navigation a {
  text-decoration: none;
}

/* line 89, ../sass/screen.scss */
.menu-toggle {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  display: none;
  float: right;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  color: pink;
  transition: 0.3s ease;
}
/* line 103, ../sass/screen.scss */
.menu-toggle:hover {
  background-color: white;
}

/* line 109, ../sass/screen.scss */
.show-me {
  display: block !important;
  background-color: rgba(255, 255, 255, 0.9);
  top: 80px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
  left: 0;
  right: -50%;
}
/* line 119, ../sass/screen.scss */
.show-me li {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 127, ../sass/screen.scss */
.our-services-h2 {
  font: normal 3.7rem "Open Sans", sans-serif;
  text-align: center;
}

/* line 131, ../sass/screen.scss */
.our-services-p {
  font: normal 1.7rem "Open Sans", sans-serif;
  text-align: center;
}

/* line 135, ../sass/screen.scss */
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 139, ../sass/screen.scss */
.images .images-ul {
  list-style-type: none;
}
/* line 141, ../sass/screen.scss */
.images .images-ul li {
  float: left;
  position: relative;
}
/* line 146, ../sass/screen.scss */
.images .back {
  position: absolute;
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  line-height: 180px;
  color: white;
  border-radius: 50%;
  text-align: center;
  margin-left: 0;
  top: -20px;
  cursor: pointer;
  font-size: 30px;
  transform: rotateY(90deg);
}
/* line 161, ../sass/screen.scss */
.images .blue {
  background-color: #4eb9f4;
}
/* line 164, ../sass/screen.scss */
.images .green {
  background-color: #6fc125;
}
/* line 167, ../sass/screen.scss */
.images .red {
  background-color: #ff5649;
}
/* line 170, ../sass/screen.scss */
.images .orange {
  background-color: #e48f23;
}
/* line 173, ../sass/screen.scss */
.images .circle {
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  color: white;
  border-radius: 50%;
  text-align: center;
  margin-left: 0;
}
/* line 181, ../sass/screen.scss */
.images .circle img {
  margin-top: 30px;
}
/* line 184, ../sass/screen.scss */
.images .circle p {
  font-size: 1.7rem;
}

/* line 189, ../sass/screen.scss */
.images-ul li:hover .back {
  animation: twirl 0.1s 0.1s ease-in forwards reverse;
}

/* line 192, ../sass/screen.scss */
.images-ul li:hover .circle {
  animation: twirl 0.1s ease-out forwards;
}

@keyframes twirl {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
/* line 200, ../sass/screen.scss */
.blog .blog-h2 {
  font: bold 2.7rem "Open Sans", sans-serif;
  display: block;
  cursor: pointer;
}
/* line 205, ../sass/screen.scss */
.blog img {
  margin-right: 30px;
  display: inline;
  float: left;
  margin-top: 11px;
  margin-bottom: 10px;
  cursor: pointer;
}
/* line 213, ../sass/screen.scss */
.blog .blog-text {
  font: normal 1.6rem "Open Sans", sans-serif;
  color: #1a1a1a;
  display: block;
}

/* line 219, ../sass/screen.scss */
.hide-me {
  display: none;
}

/* line 222, ../sass/screen.scss */
.site-footer {
  background-color: #2b2423;
}
/* line 224, ../sass/screen.scss */
.site-footer .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 228, ../sass/screen.scss */
.site-footer .wrapper a {
  color: white;
}
/* line 231, ../sass/screen.scss */
.site-footer .wrapper .submenu-h2 {
  font-size: 2.1rem;
  font-weight: normal;
  color: grey;
}
/* line 236, ../sass/screen.scss */
.site-footer .wrapper ul {
  padding: 0;
  list-style-type: none;
}
/* line 239, ../sass/screen.scss */
.site-footer .wrapper ul li {
  margin-top: 10px;
}
/* line 243, ../sass/screen.scss */
.site-footer .wrapper li a {
  color: grey;
  text-decoration: none;
  font-size: 1.5rem;
}
/* line 249, ../sass/screen.scss */
.site-footer .circle-footer {
  width: 52px;
  height: 52px;
  background-color: grey;
  line-height: 78px;
  margin-left: 25px;
  display: block;
  float: left;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* line 262, ../sass/screen.scss */
.site-footer .circle-footer:hover {
  background-color: white;
}

@media (max-width: 800px) {
  /* line 269, ../sass/screen.scss */
  .navigation-ul {
    display: none;
  }

  /* line 272, ../sass/screen.scss */
  .menu-toggle {
    display: inline;
  }

  /* line 275, ../sass/screen.scss */
  .site-footer .wrapper {
    flex-direction: column-reverse;
  }

  /* line 279, ../sass/screen.scss */
  .footer-social-ul li:first-child {
    margin-left: 0;
  }
}
