/* line 3, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 6, ../sass/screen.scss */
.bg {
  background-image: url("../img/bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 590px;
}

/* line 14, ../sass/screen.scss */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 20, ../sass/screen.scss */
.site-header {
  display: inline;
  font-size: 4.0rem;
  font-family: "Kaushan Script", cursive;
  cursor: pointer;
}
/* line 25, ../sass/screen.scss */
.site-header a {
  text-decoration: none;
}
/* line 27, ../sass/screen.scss */
.site-header a:active {
  color: pink;
}
/* line 31, ../sass/screen.scss */
.site-header .pink {
  color: pink;
}

/* line 35, ../sass/screen.scss */
.nav-semi {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 38, ../sass/screen.scss */
.navigation-ul {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  float: right;
}
/* line 43, ../sass/screen.scss */
.navigation-ul .login-img {
  margin-right: 20px;
}
/* line 46, ../sass/screen.scss */
.navigation-ul li a {
  padding: 7px 12px;
  color: #454545;
}
/* line 49, ../sass/screen.scss */
.navigation-ul li a:hover {
  background-color: #de6d6e;
  color: white;
  border-radius: 10px;
  padding: 7px 12px;
}

/* line 57, ../sass/screen.scss */
.navigation {
  display: inline;
  overflow: hidden;
}
/* line 60, ../sass/screen.scss */
.navigation li {
  display: inline;
  margin-left: 20px;
  font: 1.6rem "Open Sans", sans-serif;
}
/* line 65, ../sass/screen.scss */
.navigation a {
  text-decoration: none;
}

/* line 69, ../sass/screen.scss */
.menu-toggle {
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 0;
  border-radius: 10px;
  display: none;
  float: right;
  cursor: pointer;
}

/* line 81, ../sass/screen.scss */
.show-me {
  display: block !important;
}

@media (max-width: 800px) {
  /* line 85, ../sass/screen.scss */
  .navigation-ul {
    display: none;
  }

  /* line 89, ../sass/screen.scss */
  .menu-toggle {
    display: inline;
  }
}
